.file-upload {
  display: none;
}
.file-upload-label {
  margin-top: 20px;
  width: 70%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #20c0f3;
  border-radius: 20px;
  font-weight: bold;
  color: white;
  margin: 0;
  font-size: 12px;
  cursor: pointer;
}
.profile-setting-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}
.profile-setting-img-component {
  max-width: 100% !important;
  max-height: 100% !important;
}
